<div class="flex justify-content-center py-2">
    <div class="col-12 md:col-10 lg:col-7">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="surface-card p-3 border-round">
          <h2>Ingredient</h2>
          <p-divider></p-divider>
          <div class="formgrid grid">
            <div class="field col">
              <label for="name">Name<app-required-star></app-required-star></label>
              <input
                formControlName="name"
                pInputText
                id="name"
                type="text"
                class="inputfield w-full"
              />
              <small *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)" class="p-error block">Name is required</small>
            </div>
          </div>
          <small *ngFor="let error of form.errors | keyvalue" class="p-error">
            {{ error.key }} {{ error.value }}
          </small>
        </div>
        <div class="py-8">
          <div class="text-right">
            <button
              pButton
              label="Add"
              type="submit"
              icon="pi pi-angle-right"
              iconPos="right"
              class="text-white no-underline"
            ></button>
          </div>
        </div>
      </form>
    </div>